html {
  height: 100%;
}

body
{
  height: 100%;
}

.wrapper {
  display: flex;  
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100%;
}

.main {
  flex: 1 0px;
  background-color:green;
  max-width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;  
}

.top {
  flex: 1 0px;
  background-color:tomato;
  align-self: flex-start;
  width: 100%;
}

.bottom {
  flex: 1 0px;
  background-color: blue;
  align-self: flex-end;
  width: 100%;
}
