html, body {
    height: 100%;
}
body {
    margin: 0;
}
.flex-container {
    height: 100%;
    padding: 0;
    margin: 0;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1A1E26;
    background-image: url(glacier.jpg);
 	background-repeat: no-repeat;
  	background-size: 140%;
  	background-position:left;
  	filter:grayscale(70%);
}
.row {
    width: 100%;    
    display:flex;
    justify-content: center;

}
.flex-item {
    background-color: white;
    opacity: 0.8;	
    width: 100%;
    height: 280px;
    margin: 00px;   
    color: #2E4271;
    font-size: 50px;
    text-align: center;    
    display:flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
}

.joinmail{
font-size: 12px;
}

.btn-primary {
	width:200px;
	border-radius: 0px;
	background-color: #1A1E26;
}

.btn-primary:hover {	
	border-radius: 0px;
	border:0px solid black;
	background-color: #ffffff;
	background-image: linear-gradient(to right,#475677, #1A1E26);
}